<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Ingresar nuevo estudiante</h1>

    <form th:action="@{/save}" th:object="${estudiante}" method="POST">
    
        <label for="nombre">Nombre: </label>
        <input type="text" th:field="*{nombre}">
        <br>
        <span th:errors="*{nombre}" style="color: red;"></span>
        <br>

        <label for="apellido">Apellido: </label>
        <input type="text" th:field="*{apellido}">
        <br>
        <span th:errors="*{apellido}" style="color: red;"></span>
        <br>

        <label for="edad">Edad (No menor a 18 a&ntilde;os): </label>
        <input type="text" th:field="*{edad}">
        <br>
        <span th:errors="*{edad}" style="color: red;"></span>
        <br>

        <label>Activo</label>
        <input type="radio" th:field="*{estado}" th:value="${true}">
        <br>
        <label>Inactivo</label>
        <input type="radio" th:field="*{estado}" th:value="${false}">
		<br>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>