<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mostrar estudiante por llave primaria</title>
</head>
<body>
    <label>Estudiante con codigo</label>
    <label th:text="${estudiante.codigoEstudiante}"></label>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Estado</th>
        </thead>

        <tr>
            <th th:th:text="${estudiante.nombre}"></th>
            <th th:th:text="${estudiante.apellido}"></th>
            <th th:th:text="${estudiante.edad}"></th>
            <th th:th:text="${estudiante.estadoDelegate}"></th>
        </tr>
    </table>
</body>
</html>