<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/main.css" th:href="@{/style/main.css}" type="text/css">
    <title>Lista de estudiantes</title>
</head>
<body>
    <table>
        <thead>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Edad</th>
            <th>Estado</th>
        </thead>
        <th:block th:each="estudiante, row: ${estudiantes}">
            <tr>
                <th th:th:text="${estudiante.codigoEstudiante}"></th>
                <th th:th:text="${estudiante.nombre}"></th>
                <th th:th:text="${estudiante.apellido}"></th>
                <th th:th:text="${estudiante.edad}"></th>
                <th th:th:text="${estudiante.estadoDelegate}"></th>
            </tr>
        </th:block>
    </table>
    <br>
    <form th:action="@{/busqueda}" method="POST">
        <label>Ingresar codigo de estudiante: </label>
        <input type="number" name="codigo">
        <label> Para: </label>
        <button type="submit" name="action" value="borrar"></button>
        <button type="submit" name="action" value="actualizar"></button>
        <button type="submit" name="action" value="buscar"></button>
    </form>
    
    <br>
    <form th:action="@{/insertarEstudiante}">
        <input type="submit" value="Insertar nuevo estudiante">
    </form>
    <br>
</body>
</html>